{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <h1 class="page-header">US Mine Data Analysis</h1>
        The Lives-At-Risk metric estimates the number of lives that each mine has put at risk. It is a sum of two components: 1) accidents and 2) safety violations. Each incident is weighted according to its severity to the worker, number of workers impacted, and the likelihood of happening, as assessed by the Mine Safety and Health Administration (MSHA) inspectors.

</div>
{% endblock %}
