{% extends "base.html" %}

{% block head_extra %}
<script src="/static/analysis.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <h1 class="page-header">How it works</h1>
        <iframe width="560" height="315" src="//www.youtube.com/embed/lQ24_gfCYuU" frameborder="0" allowfullscreen class="center"></iframe>
        The Lives-At-Risk metric estimates the number of lives that each mine has put at risk. It is a sum of two components: 1) accidents and 2) safety violations. Each incident is weighted according to its severity to the worker, number of workers impacted, and the likelihood of happening, as assessed by the Mine Safety and Health Administration (MSHA) inspectors.

</div>
<div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <h1 class="page-header">Calculate Lives-At-Risk Score</h1>
            <div class="well bs-component">
              <form class="form-horizontal">
                <fieldset>
                  <legend>Risk Score Calculator</legend>
                  <div class="form-group">
                    <label for="select" class="col-lg-2 control-label">Operator</label>
                    <div class="col-lg-10">
                      <select class="form-control" id="operator">
                        <option value="00000">Unknown</option>
                        <option value="0041473">Compass Minerals International, Inc.</option>
                        <option value="0079293">Global Mining Group LLC</option>
                        <option value="0083673">Sherwin Alumina LLC</option>
                        <option value="0102049">Rory Williams; James Williams</option>
                        <option value="0106783">US Silver & Gold</option>
                        <option value="0108063">Mississippi Minerals Inc</option>
                        <option value="0113483">Richard Tuorto</option>
                        <option value="C10977">Timothy L McCoy</option>
                        <option value="C15311">Thomas L Pruitt; William R King</option>
                        <option value="M11292">Stillwater Mining Company</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="select" class="col-lg-2 control-label">Controller</label>
                    <div class="col-lg-10">
                      <select class="form-control" id="controller">
                          <option value="00000">Unknown</option>
                          <option value="0041473">Compass Minerals International, Inc.</option>
                          <option value="0079293">Global Mining Group LLC</option>
                          <option value="0083673">Sherwin Alumina LLC</option>
                          <option value="0102049">Rory Williams; James Williams</option>
                          <option value="0106783">US Silver & Gold</option>
                          <option value="0108063">Mississippi Minerals Inc</option>
                          <option value="0113483">Richard Tuorto</option>
                          <option value="C10977">Timothy L McCoy</option>
                          <option value="C15311">Thomas L Pruitt; William R King</option>
                          <option value="M11292">Stillwater Mining Company</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-2 control-label">Radios</label>
                    <div class="col-lg-10">
                      <div class="radio">
                        <label>
                          <input type="radio" name="type" value="surface" checked="">
                          Surface
                        </label>
                      </div>
                      <div class="radio">
                        <label>
                          <input type="radio" name="type" value="underground">
                          Underground
                        </label>
                      </div>
                      <div class="radio">
                        <label>
                          <input type="radio" name="type" value="facility">
                          Facility
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="select" class="col-lg-2 control-label">Current Mine Status</label>
                    <div class="col-lg-10">
                      <select class="form-control" id="status">
                        <option value="Abandoned and Sealed">Active</option>
                        <option value="Intermittent">Intermittant</option>
                        <option value="New Mine">New Mine</option>
                        <option value="NonProducing">NonProducing</option>
                        <option value="Temporarily Idled">Temporarily Idled</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="checkbox" class="col-lg-2 control-label">Multiple Pits</label>
                    <div class="col-lg-10">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" id="multiple-pits">
                        </label>
                          </div>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="employees" class="col-lg-2 control-label">Employees</label>
                    <div class="col-lg-10">
                          <input type="text" class="form-control" id="employees" value="1000"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                      <div class="btn btn-primary" id="calculate">Calculate</div>
                    </div>
                  </div>
                  <div class="alert alert-success" id="score-out-panel" style="display: none;">
                      <h1 class="center">Score: <span id="score-out"></span></h1>
                    </div>
                </fieldset>
              </form>
          </div>
    </div>
</div>
{% endblock %}
