<html>
<head>
{% if title %}
<title>{{ title }} - Mine Data</title>
{% else %}
<title>Mine Data</title>
{% endif %}
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Hackathon project on mining data from Bayes Impact Hackathon 2014" />
<link rel="stylesheet" type="text/css" href="/static/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="/static/custom.css"/>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-56795204-1', 'auto');
    ga('send', 'pageview');
</script>

{% block head_extra %}{% endblock %}

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Mine Data</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/">Overview</a>
            </li>
            <li>
              <a href="/mines/">Mines</a>
            </li>
            <li>
              <a href="/analysis/">Analysis</a>
            </li>
            <li>
              <a href="/about/">About This Project</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container" id="main">
        {% block content %}{% endblock %}
    </div>
    <div class="container" id="footer">
        <div class="row">
            <div class="col-sm-12 text-muted">
                This content is released under the <a href="https://github.com/tmsgost/Bayes_Impact/blob/master/LICENSE">MIT License</a>. Source code is available on <a href="https://github.com/tmsgost/Bayes_Imact"> Github</a>.
            </div>
        </div>
    </div>
</body>
</html>

