#main {
    margin-top: 50px;
}
#map {
    width: 100%;
    max-width: 100%;
    min-height: 500px;
}
#footer {
    margin-top: 80px;
}

#team-photo {
    display: block;
    margin: 20px auto;
}

.center {
    display: block;
    text-align: center;
}

.whoa {
    display: block;
    text-align: center;
    padding: 30px 0;
}
